<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>19/10/31 09:42:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DriverGetter.beforeTest()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:42:53</td>   <td>16107</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeliStok.beforeClass()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:11</td>   <td>34113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeliStok.beforeMethod()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:13</td>   <td>36113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeliStok.checkBalanceBefore()[pri:1, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">checkBalanceBefore</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:44</td>   <td>66445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeliStok.afterMethod(org.testng.ITestResult)[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:44</td>   <td>66448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeliStok.beforeMethod()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:46</td>   <td>68448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeliStok.choosePackage()[pri:2, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">choosePackage</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:46</td>   <td>68682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeliStok.afterMethod(org.testng.ITestResult)[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:46</td>   <td>68683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeliStok.beforeMethod()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:48</td>   <td>70684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeliStok.confirmationBuy()[pri:3, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">confirmationBuy</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:48</td>   <td>70738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeliStok.afterMethod(org.testng.ITestResult)[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:48</td>   <td>70743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeliStok.beforeMethod()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:43:50</td>   <td>72743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeliStok.getTransactionIdandOk()[pri:4, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">getTransactionIdandOk</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:44:20</td>   <td>102774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeliStok.afterMethod(org.testng.ITestResult)[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:44:20</td>   <td>102780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeliStok.beforeMethod()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:44:22</td>   <td>104780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeliStok.checkBalanceAfter()[pri:5, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">checkBalanceAfter</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:44:52</td>   <td>135125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeliStok.afterMethod(org.testng.ITestResult)[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:44:52</td>   <td>135125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeliStok.beforeMethod()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:44:54</td>   <td>137125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeliStok.checkInfoTrxBeliGrosir()[pri:6, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">checkInfoTrxBeliGrosir</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:44:54</td>   <td>137148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeliStok.afterMethod(org.testng.ITestResult)[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/10/31 09:44:54</td>   <td>137149</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeliStok.afterClass()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/10/31 09:44:54</td>   <td>137149</td> <td>&nbsp;</td><td title="&lt;&lt;DriverGetter.afterTest()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@66a3ffec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
</table>
