<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>coba</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85bdee">  <td>19/10/30 09:11:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GlobalProperties.goToUrl()[pri:0, instance:belajarSession.login@7494e528]">goToUrl</td> 
  <td>main@1392425346</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/10/30 09:11:06</td>   <td>1764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="infoTrx.klikMasuk()[pri:2, instance:belajarSession.infoTrx@4bbfb90a]">klikMasuk</td> 
  <td>main@1392425346</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/30 09:11:05</td>   <td>1234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="login.loginStep()[pri:1, instance:belajarSession.login@7494e528]">loginStep</td> 
  <td>main@1392425346</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>19/10/30 09:11:03</td>   <td>-818</td> <td>&nbsp;</td><td title="&gt;&gt;GlobalProperties.openDriver()[pri:0, instance:belajarSession.login@7494e528]">&gt;&gt;openDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1392425346</td>   <td></td> </tr>
</table>
