<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="849fce">  <td>19/10/28 10:41:00</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DriverGetter.beforeTest()[pri:0, instance:com.xl.selenium.testcase.login.Login@26be92ad]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>19/10/28 10:41:03</td>   <td>2984</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeClass()[pri:0, instance:com.xl.selenium.testcase.login.Login@26be92ad]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>19/10/28 10:41:03</td>   <td>2998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginTest()[pri:0, instance:com.xl.selenium.testcase.login.Login@26be92ad]">loginTest</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>19/10/28 10:41:39</td>   <td>39063</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterClass()[pri:0, instance:com.xl.selenium.testcase.login.Login@26be92ad]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/10/28 10:41:39</td>   <td>39066</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeliStok.beforeClass()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@4c70fda8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/10/28 10:41:39</td>   <td>39066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeliStok.beliStok()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@4c70fda8]">beliStok</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/10/28 10:41:39</td>   <td>39102</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeliStok.afterClass()[pri:0, instance:com.xl.selenium.testcase.beli.BeliStok@4c70fda8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>19/10/28 10:41:39</td>   <td>39103</td> <td>&nbsp;</td><td title="&lt;&lt;DriverGetter.afterTest()[pri:0, instance:com.xl.selenium.testcase.login.Login@26be92ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
</table>
