<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;exe_beli.afterMethod(org.testng.ITestResult)[pri:0, instance:belajarSession.exe_beli@51cdd8a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:33</td>   <td>299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;exe_beli.afterMethod(org.testng.ITestResult)[pri:0, instance:belajarSession.exe_beli@51cdd8a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:35</td>   <td>2056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;exe_beli.afterMethod(org.testng.ITestResult)[pri:0, instance:belajarSession.exe_beli@51cdd8a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:32</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="exe_beli.beliGrosir()[pri:2, instance:belajarSession.exe_beli@51cdd8a]">beliGrosir</td> 
  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:33</td>   <td>304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="exe_beli.infoTransaksi()[pri:3, instance:belajarSession.exe_beli@51cdd8a]">infoTransaksi</td> 
  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:20</td>   <td>-12294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="exe_beli.loginAWG()[pri:1, instance:belajarSession.exe_beli@51cdd8a]">loginAWG</td> 
  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:17</td>   <td>-15136</td> <td>&nbsp;</td><td title="&gt;&gt;exe_beli.openBrowser()[pri:0, instance:belajarSession.exe_beli@51cdd8a]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:20</td>   <td>-12307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;exe_beli.tunggu()[pri:0, instance:belajarSession.exe_beli@51cdd8a]">&gt;&gt;tunggu</td> 
<td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:32</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;exe_beli.tunggu()[pri:0, instance:belajarSession.exe_beli@51cdd8a]">&gt;&gt;tunggu</td> 
<td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>19/10/31 08:57:33</td>   <td>300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;exe_beli.tunggu()[pri:0, instance:belajarSession.exe_beli@51cdd8a]">&gt;&gt;tunggu</td> 
<td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
</table>
